<!-- <nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Company Name</a>
        </div>
        <div class="nav navbar-nav navbar-right">
            <a (click)="addWidget()" class="btn btn-primary pull-right navbar-btn" style='margin-right: 10px;'>Add Widget</a>
        </div>
        <div class="row navbar-brand pull-right centre-content">
            <div class="col-xs-3">Some Label</div>
            <div class="col-xs-3">Some Action</div>
            <div class="col-xs-3">Sign In</div>
            <div class="col-xs-3">Some Link</div>
        </div>
    </div>
</nav> -->
<div class="widget-container">
    <md-toolbar class="navbar-default">
        <div>Company Name</div>
        <div class="row navbar-default navbar-brand pull-right centre-content ">
            <div class="col-xs-3 ">Some Label</div>
            <div class="col-xs-3 ">Some Action</div>
            <div class="col-xs-3 ">Sign In</div>
            <div class="col-xs-3 ">Some Link</div>
        </div>
        <div>
            <a (click)="addWidget() " class="btn btn-primary pull-right navbar-btn " style='margin-right: 10px;'>Add Widget</a>
        </div>
    </md-toolbar>
    <div [ngWidgetContainer]="widgetConfig ">-
        <div *ngFor="let widget of widgets; let i=i ndex " [(ngWidget)]="widget.config " (onItemChange)="updateItem(i, $event) " (onResize)="onResize(i, $event) " (onDrag)="onDrag(i, $event) ">
            <div style="vertical-align: middle; width: 20px; float:left;margin-top: 7px; ">
                <img src="assets/gridtitlecollapse.png ">
            </div>
            <div class="handle ">{{widget.name}}
                <div class="box-header-btns pull-right ">
                    <a title="Remove widget " (click)="removeWidget(i); ">
                        <i class="glyphicon glyphicon-trash "></i>
                    </a>
                </div>
            </div>
            <div [ngSwitch]="widget.id ">
                <app-simple-market *ngSwitchCase="1 "></app-simple-market>
                <app-simple-market *ngSwitchCase="2 "></app-simple-market>
                <app-complex-market *ngSwitchCase="4 "></app-complex-market>
            </div>
        </div>
    </div>
</div>